$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
$border-radius: 15px;
$background: #67b32e;
$header-Border-raddius-top-left: 15px;
$header-Border-raddius-top-right: 15px;
$myWidth: 680px; $border-radius: 15px ; $background: #67B32E ; $secondary_bg: #2E6A00

